# Clang 17.0.1
# https://cloud.tencent.com/developer/ask/sof/106690780

build:dbg -c dbg
build:opt -c opt
build:clang --cxxopt=-std=c++2b
build:clang --compiler=clang
build:clang --incompatible_enable_cc_toolchain_resolution
build:clang --cxxopt=-mwaitpkg
build:clang --action_env=CC=/usr/local/bin/clang
build:clang --action_env=CXX=/usr/local/bin/clang++
